/* NetworkingPage.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.dropdown-container {
  width: 40%; /* Adjusted width */
}

.dropdown {
  width: calc(100% - 20px); /* Adjusted width */
  margin-bottom: 20px; /* Added margin between dropdown and grid */
}

.dropdown label {
  display: block;
  margin-bottom: 0.5rem;
}

.dropdown select {
  width: calc(100% - 1rem); /* Adjusted width */
  padding: 0.3rem; /* Decreased padding */
  font-size: 1rem;
}

.dropdown button {
  margin-top: 0.3rem; /* Decreased margin top */
  padding: 0.3rem 0.8rem; /* Adjusted padding */
  background-color: #2B7A78;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-profile {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-profile p {
  margin: 0.5rem 0;
}

.user-profile button {
  padding: 0.5rem 1rem;
  background-color: #2B7A78;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.image-container {
  width: 30%; /* Adjusted width */
  margin-left: 100px; /* Move the image to the right */
}

.image-container img {
  width: 100%;
  border-radius: 4px;
  margin-top: 1rem;
}
